html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #666;
  font-family: lato;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0.4em .75em .5em;
}

.pyramid {
  max-width: 25em;
  margin: 1.5rem;
  padding: 1em;
}
